<article class="ambulanceSection" *ngIf="vaardproces">
    <header class="stepIndicatorAndSenderInformationContainer">
            <p class="stepIndicator">3</p>
            <h4 class="senderInformation">Ambulance</h4>
    </header>
    <h2 class="stepTitle">Title: Har patienten tidligere haft hjerneblødning?</h2>
    
    <form class="buttonFormContainer" action="">
        <button class="formButton formButtonActivated">Yes</button>
        <button class="formButton">No</button>
    </form>
</article>