.center-horisontal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
p {
  background-color: #D9D9D9;
  color: black;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
}

.center-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ambulanceSection {
    width: auto;
    min-height: 40vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #0678B4;
    border-radius: 10px;
    padding: 3vw;
    padding-top: 2vw;
    margin-bottom: 1vw;
    font-size: 4vw;
  }
  
  .ambulanceSection>* {
    margin: 1vw 0;
  }

  .stepIndicatorAndSenderInformationContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 5vw;
  }
  
  .stepIndicator {
    align-self: flex-start;
    background-color: #D9D9D9;
    color: #0678B4;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 5vw;
    width: 5vw;
  }

  .senderInformation {
    align-self: flex-start;
    background-color: #D9D9D9;
    color: #0678B4;
    font-weight: bold;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 5vw;
    width: auto;
    padding: 0 2vw;
  }
  
  .stepTitle {
    font-weight: 800;
  }

  button {
    margin-top: 20px;
    background-color: #eee;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  button:hover {
    background-color: #cfd8dc;
  }
  
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
  
  .formForInput {
    display: flex;
    flex-direction: column;
    background-color: #A5CCDB;
    width: 90%;
    border-radius: 5px;
  }

  .formContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
  }

  .formFieldset {
    border-style: none;
    display: flex;
    flex-direction: column;
  }

  .labelOverskriftStyling {
    padding-top: 5vw;
    margin-bottom: 5px;
    font-weight: 500;
    color: white;
  }
  
  .inputStyling {
    border: none;
    border-radius: 5px;
    width: 90%;
    color: black;
    font-size: large;
    background-color: #A5CCDB;
    font-size: 1em;
    padding: .5rem;
  }
  
  .buttonFormContainer {
    display: inline-flex;
    width: auto;
    gap: 10vw;
  }
  
  .formButton {
    background-color: #0678B4;
    color: white;
    border: none;
    box-shadow: rgba(14, 30, 37, 0.16) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 8px 4px 16px 3px;
    border-radius: 5px;
    width: 35vw;
    font-weight: bold;
    font-size: large;
  }
  
  .formButtonActivated {
    background-color: #C4E66B;
    color: #191C0D;
    box-shadow: rgba(14, 30, 37, 0.16) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  
  .lægeStepIndikator {
    align-self: flex-start;
    background-color: #D9D9D9;
    color: #0C3170;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 5vw;
    width: 5vw;
  }
  
  .lægeSection {
    width: auto;
    min-height: 40vw;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-color: #0C3170;
    border-radius: 15px;
    padding: 3vw;
    margin-bottom: 1vw;
  }
  
  .lægeSection>* {
    margin: 1vw 0;
  }
  
  .lægeFormForInput {
    background-color: white;
    width: 90%;
  }
  
  .lægeInputfelt {
    min-height: 30vw;
    background-color: white;
    color: #191C0D;
    border-radius: 5px 5px 0 0;
    padding: 4vw;
    text-align: start;
  }
  
  .patientDestinationInputfelt {
    padding: 0 4vw;
    min-height: 12vw;
  }


 