main {
    margin: 0 3vw;
  }
  
  .goBackButton {
    background-color: #0678B4;
    border: none;
    margin-bottom: 5vw;
  }
  
  button {
    margin-top: 20px;
    background-color: #eee;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }