h1 {
    text-align: center;
    padding: 4vw;
    color: #067884;
    font-weight: 500;
}
.id {
    color: black;
}
main {
    margin: 35vw auto 0 auto;
    width: 90vw;
    position: relative;
}

.ActiveNotificationScreenStyling {
    max-height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin-top: -65vw;
    padding-top: 45vw;
}